/* LIGHT COLORS */
$color-1: #61dafb;
$color-2: salmon;
$color-3: #282c34;
$white: rgb(243, 243, 243);

$body-bg-color: rgba(255, 255, 255, 1);
$sidebar-bg-color: rgba(244, 244, 244, 1);
$title-color: rgba(0, 0, 0, 1);
$text-color: rgba(21, 21, 21, 1);
$date-color: rgba(106, 137, 204, 1);

/* DARK COLORS */
$dark-body-bg-color: rgba(0, 0, 0, 1);
$dark-sidebar-bg-color: rgba(21, 21, 21, 1);
$dark-title-color: rgba(255, 255, 255, 1);
$dark-text-color: rgba(244, 244, 244, 1);
$dark-date-color: rgba(184, 233, 148, 1);

@mixin XYCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  // @include XYCenter;
}

li {
  list-style-type: none;
}

body {
  /* fonts */
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 1.7rem;
  --h2-font-size: 1.3rem;
  --h3-font-size: 1.1rem;
  --h4-font-size: 1rem;

  /* ******** */
  h1,
  h2,
  h3 {
    margin-bottom: 10px;
    font-weight: 400;
    color: var(--title-color);
  }

  h1 {
    font-size: var(--h1-font-size);
    text-transform: uppercase;
  }

  h2 {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    font-size: var(--h2-font-size);
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  h3 {
    font-size: var(--h3-font-size);
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: var(--text-color);
  }

  p {
    margin-bottom: 1rem;
  }

  ul {
    padding-left: 1.3rem;
    li {
      margin-bottom: 1rem;
    }
  }

  .circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    border-radius: 50%;
    background-color: var(--circle-color);
  }

  .circle-plain {
    background-color: var(--circle-color-plain);
  }

  font-family: var(--body-font);
  font-weight: 200;
  color: var(--text-color);
  background-color: var(--body-bg-color);
}

/***** dark theme *****/

.dark {
  color: var(--dark-text-color);
  background-color: var(--dark-body-bg-color);

  h1,
  h2,
  h3 {
    color: var(--dark-title-color);
  }

  .circle {
    background-color: var(--dark-circle-color);
  }

  .circle-plain {
    background-color: var(--dark-circle-color-plain);
  }

  button {
    color: var(--dark-text-color);
  }

  a {
    color: var(--dark-text-color);
  }
}

html {
  scroll-behavior: unset;
}
a,
a:visited {
}
body {
  height: 100vh;
  overflow: hidden;

  @media screen and (max-width: 430px) {
    position: relative;
    max-width: 100vw;
    overflow-y: initial;
  }
}
main {
  position: relative;
}
.button {
  height: 55px;
  width: 126px;
  border-radius: 50px;
  margin-top: 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    letter-spacing: 1px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-size: 2000%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
}
li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}
label {
  user-select: none;
}
